In [38]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

import pylab as plt
import seaborn as sns

%matplotlib inline   

from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

from sklearn.linear_model import LogisticRegression            # clasificar, logistic regression model   

from sklearn.preprocessing import StandardScaler               # standarized             

from sklearn.model_selection import train_test_split as tts  

from sklearn.metrics import mean_squared_error as mse 
from sklearn.linear_model import LinearRegression as LinReg

from sklearn.linear_model import Lasso        # regularizacion L1
from sklearn.linear_model import Ridge        # regularizacion L2
from sklearn.linear_model import ElasticNet   # regularizacion L1+L2
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor as RFR  
from sklearn.tree import ExtraTreeRegressor as ETR
from sklearn.ensemble import GradientBoostingRegressor as GBR

from xgboost import XGBRegressor as XGBR

from catboost import CatBoostRegressor as CTR

from lightgbm import LGBMRegressor as LGBMR
from sklearn.cluster import DBSCAN

ModuleNotFoundError: No module named 'h2o'

In [2]:
df=pd.read_csv('../data/salaries_data.csv')

df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2022,SE,FT,Data Engineer,140250,USD,140250,US,100,US,M
1,2022,SE,FT,Data Engineer,135000,USD,135000,US,100,US,M
2,2021,MI,FT,BI Data Analyst,100000,USD,100000,US,100,US,M
3,2021,MI,CT,ML Engineer,270000,USD,270000,US,100,US,L
4,2021,MI,FT,Data Engineer,22000,EUR,26005,RO,0,US,L

In [3]:
residence = []
for i in df.employee_residence:
    if i not in ['US', 'GB', 'CA', 'DE', 'IN', 'FR', 'ES', 'GR']:
        residence.append('OTHER_COUNTRY')
    else:
        residence.append(i)
df.employee_residence=residence

In [4]:
df.employment_type.value_counts()

FT    484
PT      8
CT      4
FL      4
Name: employment_type, dtype: int64

In [5]:
df.employment_type=LabelEncoder().fit_transform(df.employment_type)

In [6]:
df.employee_residence=LabelEncoder().fit_transform(df.employee_residence)

In [7]:
df=pd.get_dummies(df, columns=['work_year'], drop_first=True)
df.head()

,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,work_year_2021,work_year_2022
0,SE,2,Data Engineer,140250,USD,140250,8,100,US,M,0,1
1,SE,2,Data Engineer,135000,USD,135000,8,100,US,M,0,1
2,MI,2,BI Data Analyst,100000,USD,100000,8,100,US,M,1,0
3,MI,0,ML Engineer,270000,USD,270000,8,100,US,L,1,0
4,MI,2,Data Engineer,22000,EUR,26005,7,0,US,L,1,0

In [8]:
df=pd.get_dummies(df, columns=['experience_level'], drop_first=True)
df.head()

,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,work_year_2021,work_year_2022,experience_level_EX,experience_level_MI,experience_level_SE
0,2,Data Engineer,140250,USD,140250,8,100,US,M,0,1,0,0,1
1,2,Data Engineer,135000,USD,135000,8,100,US,M,0,1,0,0,1
2,2,BI Data Analyst,100000,USD,100000,8,100,US,M,1,0,0,1,0
3,0,ML Engineer,270000,USD,270000,8,100,US,L,1,0,0,1,0
4,2,Data Engineer,22000,EUR,26005,7,0,US,L,1,0,0,1,0

In [9]:
df=pd.get_dummies(df, columns=['remote_ratio'])
df.head()

,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,company_location,company_size,work_year_2021,work_year_2022,experience_level_EX,experience_level_MI,experience_level_SE,remote_ratio_0,remote_ratio_50,remote_ratio_100
0,2,Data Engineer,140250,USD,140250,8,US,M,0,1,0,0,1,0,0,1
1,2,Data Engineer,135000,USD,135000,8,US,M,0,1,0,0,1,0,0,1
2,2,BI Data Analyst,100000,USD,100000,8,US,M,1,0,0,1,0,0,0,1
3,0,ML Engineer,270000,USD,270000,8,US,L,1,0,0,1,0,0,0,1
4,2,Data Engineer,22000,EUR,26005,7,US,L,1,0,0,1,0,1,0,0

In [10]:
countries = []
for i in df.company_location:
    if i not in ['US', 'GB', 'CA', 'DE', 'IN', 'FR', 'ES', 'GR']:
        countries.append('OTHER_COUNTRY')
    else:
        countries.append(i)
df.company_location=countries

In [11]:
df.company_location.value_counts()

US               296
OTHER_COUNTRY     62
GB                41
CA                25
DE                23
IN                19
FR                12
ES                12
GR                10
Name: company_location, dtype: int64

In [12]:
df.job_title=LabelEncoder().fit_transform(df.job_title)

In [13]:
df.salary_currency.value_counts()

USD    329
EUR     78
GBP     38
INR     23
CAD     16
JPY      3
TRY      3
AUD      2
PLN      2
MXN      1
CHF      1
CLP      1
BRL      1
HUF      1
SGD      1
Name: salary_currency, dtype: int64

In [14]:
df.salary_currency=LabelEncoder().fit_transform(df. salary_currency)

In [15]:
df.salary_currency.value_counts()

14    329
5      78
6      38
8      23
2      16
9       3
13      3
0       2
11      2
10      1
3       1
4       1
1       1
7       1
12      1
Name: salary_currency, dtype: int64

In [16]:
df.company_location=LabelEncoder().fit_transform(df.company_location)

In [17]:
df=pd.get_dummies(df, columns=['company_size'], drop_first=True)
df.head()

,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,company_location,work_year_2021,work_year_2022,experience_level_EX,experience_level_MI,experience_level_SE,remote_ratio_0,remote_ratio_50,remote_ratio_100,company_size_M,company_size_S
0,2,17,140250,14,140250,8,8,0,1,0,0,1,0,0,1,1,0
1,2,17,135000,14,135000,8,8,0,1,0,0,1,0,0,1,1,0
2,2,5,100000,14,100000,8,8,1,0,0,1,0,0,0,1,1,0
3,0,36,270000,14,270000,8,8,1,0,0,1,0,0,0,1,0,0
4,2,17,22000,5,26005,7,8,1,0,0,1,0,1,0,0,0,0

In [18]:
df.columns

Index(['employment_type', 'job_title', 'salary', 'salary_currency',
       'salary_in_usd', 'employee_residence', 'company_location',
       'work_year_2021', 'work_year_2022', 'experience_level_EX',
       'experience_level_MI', 'experience_level_SE', 'remote_ratio_0',
       'remote_ratio_50', 'remote_ratio_100', 'company_size_M',
       'company_size_S'],
      dtype='object')

In [19]:
X=df.drop(['salary', 'salary_in_usd'], axis=1)  # separacion X y

y=df.salary_in_usd

In [20]:
X.shape, y.shape

((500, 15), (500,))

In [21]:
X_train, X_test, y_train, y_test=tts(X, y, random_state=42)

In [22]:
#Inicialización
logreg=LogisticRegression(max_iter=2000)
linreg=LinReg()
lasso=Lasso()
ridge=Ridge()
elastic=ElasticNet()
svr=SVR()
rfr=RFR()
etr=ETR()
gbr=GBR()
xgbr=XGBR()
ctr=CTR()
lgbmr=LGBMR()
dbscan=DBSCAN()

In [23]:
#Entrenamiento
logreg.fit(X_train, y_train)
linreg.fit(X_train, y_train)
lasso.fit(X_train, y_train)
ridge.fit(X_train, y_train)
elastic.fit(X_train, y_train)
svr.fit(X_train, y_train)
rfr.fit(X_train, y_train)
etr.fit(X_train, y_train)
gbr.fit(X_train, y_train)
xgbr.fit(X_train, y_train)
ctr.fit(X_train, y_train)
lgbmr.fit(X_train, y_train)

Learning rate set to 0.035065
0:	learn: 70579.5247269	total: 141ms	remaining: 2m 20s
1:	learn: 69640.8383460	total: 142ms	remaining: 1m 10s
2:	learn: 68747.3867898	total: 143ms	remaining: 47.6s
3:	learn: 67867.9492154	total: 144ms	remaining: 36s
4:	learn: 67039.1892049	total: 146ms	remaining: 29s
5:	learn: 66284.6160747	total: 147ms	remaining: 24.3s
6:	learn: 65506.0203903	total: 148ms	remaining: 21s
7:	learn: 64826.2287007	total: 149ms	remaining: 18.4s
8:	learn: 64211.9991275	total: 150ms	remaining: 16.5s
9:	learn: 63504.7399580	total: 151ms	remaining: 14.9s
10:	learn: 62811.5036817	total: 152ms	remaining: 13.6s
11:	learn: 62348.4785129	total: 152ms	remaining: 12.5s
12:	learn: 61743.0848556	total: 153ms	remaining: 11.6s
13:	learn: 61151.5874704	total: 154ms	remaining: 10.8s
14:	learn: 60501.0301380	total: 155ms	remaining: 10.2s
15:	learn: 60062.5839733	total: 156ms	remaining: 9.58s
16:	learn: 59685.9658748	total: 156ms	remaining: 9.03s
17:	learn: 59100.1671761	total: 157ms	remaining: 8.57s
18:	learn: 58580.5703037	total: 158ms	remaining: 8.16s
19:	learn: 58095.5602566	total: 159ms	remaining: 7.79s
20:	learn: 57678.3755140	total: 160ms	remaining: 7.46s
21:	learn: 57341.1965385	total: 161ms	remaining: 7.15s
22:	learn: 56905.1830812	total: 162ms	remaining: 6.88s
23:	learn: 56410.5820599	total: 163ms	remaining: 6.63s
24:	learn: 56019.0167081	total: 164ms	remaining: 6.39s
25:	learn: 55680.7771071	total: 165ms	remaining: 6.17s
26:	learn: 55324.6567646	total: 166ms	remaining: 5.97s
27:	learn: 54862.4443083	total: 167ms	remaining: 5.79s
28:	learn: 54373.1511110	total: 168ms	remaining: 5.62s
29:	learn: 54091.2076047	total: 171ms	remaining: 5.52s
30:	learn: 53777.1476550	total: 172ms	remaining: 5.38s
31:	learn: 53465.6838264	total: 173ms	remaining: 5.25s
32:	learn: 53207.0946075	total: 174ms	remaining: 5.1s
33:	learn: 52863.7775767	total: 175ms	remaining: 4.98s
34:	learn: 52518.9868711	total: 177ms	remaining: 4.87s
35:	learn: 52216.4729059	total: 178ms	remaining: 4.77s
36:	learn: 51929.8680343	total: 182ms	remaining: 4.75s
37:	learn: 51756.1846864	total: 184ms	remaining: 4.66s
38:	learn: 51531.2023758	total: 185ms	remaining: 4.57s
39:	learn: 51221.3681034	total: 187ms	remaining: 4.49s
40:	learn: 50981.3640139	total: 189ms	remaining: 4.41s
41:	learn: 50705.9670017	total: 190ms	remaining: 4.33s
42:	learn: 50432.5307405	total: 191ms	remaining: 4.25s
43:	learn: 50129.3091703	total: 192ms	remaining: 4.17s
44:	learn: 49924.1954819	total: 193ms	remaining: 4.1s
45:	learn: 49680.8841239	total: 194ms	remaining: 4.03s
46:	learn: 49457.3286823	total: 196ms	remaining: 3.96s
47:	learn: 49262.7434618	total: 197ms	remaining: 3.9s
48:	learn: 49063.2472618	total: 197ms	remaining: 3.83s
49:	learn: 48818.8624047	total: 198ms	remaining: 3.77s
50:	learn: 48613.4990868	total: 199ms	remaining: 3.71s
51:	learn: 48550.7686437	total: 200ms	remaining: 3.65s
52:	learn: 48433.9579906	total: 201ms	remaining: 3.59s
53:	learn: 48369.4366363	total: 201ms	remaining: 3.53s
54:	learn: 48211.5243598	total: 202ms	remaining: 3.48s
55:	learn: 48036.4690860	total: 203ms	remaining: 3.43s
56:	learn: 47893.1806929	total: 205ms	remaining: 3.38s
57:	learn: 47710.8044097	total: 206ms	remaining: 3.34s
58:	learn: 47545.6497084	total: 207ms	remaining: 3.3s
59:	learn: 47384.4074375	total: 208ms	remaining: 3.25s
60:	learn: 47208.6314615	total: 209ms	remaining: 3.22s
61:	learn: 46982.4478104	total: 210ms	remaining: 3.18s
62:	learn: 46806.6051790	total: 211ms	remaining: 3.14s
63:	learn: 46672.1987377	total: 212ms	remaining: 3.11s
64:	learn: 46547.6955762	total: 214ms	remaining: 3.07s
65:	learn: 46380.1427142	total: 215ms	remaining: 3.04s
66:	learn: 46140.7165186	total: 216ms	remaining: 3s
67:	learn: 46022.2959918	total: 217ms	remaining: 2.97s
68:	learn: 45908.0338600	total: 218ms	remaining: 2.94s
69:	learn: 45834.4596615	total: 219ms	remaining: 2.9s
70:	learn: 45616.7396332	total: 220ms	remaining: 2.88s
71:	learn: 45479.8734332	total: 221ms	remaining: 2.85s
72:	learn: 45354.5018157	total: 222ms	remaining: 2.82s
73:	learn: 45281.8505951	total: 223ms	remaining: 2.79s
74:	learn: 45161.5536400	total: 224ms	remaining: 2.77s
75:	learn: 45035.5531660	total: 226ms	remaining: 2.74s
76:	learn: 44921.1307604	total: 227ms	remaining: 2.72s
77:	learn: 44810.1257866	total: 228ms	remaining: 2.7s
78:	learn: 44697.5618638	total: 229ms	remaining: 2.67s
79:	learn: 44516.2754402	total: 230ms	remaining: 2.65s
80:	learn: 44418.3175241	total: 231ms	remaining: 2.62s
81:	learn: 44323.0032230	total: 232ms	remaining: 2.6s
82:	learn: 44207.8753779	total: 233ms	remaining: 2.58s
83:	learn: 44113.4550892	total: 234ms	remaining: 2.56s
84:	learn: 43949.9607765	total: 235ms	remaining: 2.53s
85:	learn: 43870.8000470	total: 237ms	remaining: 2.51s
86:	learn: 43765.5570464	total: 238ms	remaining: 2.49s
87:	learn: 43700.8685454	total: 239ms	remaining: 2.47s
88:	learn: 43605.2845969	total: 240ms	remaining: 2.46s
89:	learn: 43490.4433648	total: 241ms	remaining: 2.44s
90:	learn: 43408.1362226	total: 242ms	remaining: 2.42s
91:	learn: 43360.3440432	total: 243ms	remaining: 2.4s
92:	learn: 43229.4179589	total: 244ms	remaining: 2.38s
93:	learn: 43087.3111195	total: 245ms	remaining: 2.36s
94:	learn: 43000.7696928	total: 246ms	remaining: 2.35s
95:	learn: 42920.1474424	total: 247ms	remaining: 2.33s
96:	learn: 42810.4226039	total: 248ms	remaining: 2.31s
97:	learn: 42732.7495867	total: 249ms	remaining: 2.3s
98:	learn: 42640.0967863	total: 251ms	remaining: 2.28s
99:	learn: 42552.3573788	total: 252ms	remaining: 2.27s
100:	learn: 42448.2760365	total: 253ms	remaining: 2.25s
101:	learn: 42429.0222863	total: 253ms	remaining: 2.23s
102:	learn: 42352.7770494	total: 254ms	remaining: 2.21s
103:	learn: 42272.5207226	total: 255ms	remaining: 2.2s
104:	learn: 42184.8605707	total: 256ms	remaining: 2.19s
105:	learn: 42123.0893101	total: 257ms	remaining: 2.17s
106:	learn: 42101.5997413	total: 258ms	remaining: 2.15s
107:	learn: 42041.6837575	total: 259ms	remaining: 2.14s
108:	learn: 41910.0554959	total: 260ms	remaining: 2.12s
109:	learn: 41818.1598682	total: 261ms	remaining: 2.11s
110:	learn: 41743.5003917	total: 262ms	remaining: 2.09s
111:	learn: 41712.7510838	total: 262ms	remaining: 2.08s
112:	learn: 41651.3764329	total: 263ms	remaining: 2.06s
113:	learn: 41552.1145739	total: 264ms	remaining: 2.05s
114:	learn: 41468.7032590	total: 265ms	remaining: 2.04s
115:	learn: 41414.1222551	total: 266ms	remaining: 2.02s
116:	learn: 41333.5003111	total: 267ms	remaining: 2.01s
117:	learn: 41296.6524592	total: 267ms	remaining: 2s
118:	learn: 41211.6790420	total: 268ms	remaining: 1.98s
119:	learn: 41101.2941172	total: 269ms	remaining: 1.97s
120:	learn: 41045.8380118	total: 270ms	remaining: 1.96s
121:	learn: 40964.9515057	total: 270ms	remaining: 1.95s
122:	learn: 40876.0955364	total: 271ms	remaining: 1.94s
123:	learn: 40825.3488937	total: 272ms	remaining: 1.92s
124:	learn: 40722.8605714	total: 273ms	remaining: 1.91s
125:	learn: 40670.3717345	total: 274ms	remaining: 1.9s
126:	learn: 40575.5434399	total: 275ms	remaining: 1.89s
127:	learn: 40518.7981885	total: 276ms	remaining: 1.88s
128:	learn: 40466.2240374	total: 277ms	remaining: 1.87s
129:	learn: 40402.2520665	total: 278ms	remaining: 1.86s
130:	learn: 40338.5049361	total: 278ms	remaining: 1.85s
131:	learn: 40251.3295353	total: 279ms	remaining: 1.84s
132:	learn: 40189.7125355	total: 280ms	remaining: 1.83s
133:	learn: 40110.1100762	total: 281ms	remaining: 1.82s
134:	learn: 40052.3634942	total: 282ms	remaining: 1.81s
135:	learn: 40037.5214463	total: 283ms	remaining: 1.79s
136:	learn: 39948.4644087	total: 283ms	remaining: 1.78s
137:	learn: 39914.4697869	total: 284ms	remaining: 1.77s
138:	learn: 39843.6993949	total: 285ms	remaining: 1.77s
139:	learn: 39786.3448691	total: 286ms	remaining: 1.76s
140:	learn: 39747.3755246	total: 287ms	remaining: 1.75s
141:	learn: 39678.4488217	total: 288ms	remaining: 1.74s
142:	learn: 39642.6716612	total: 289ms	remaining: 1.73s
143:	learn: 39571.9715909	total: 290ms	remaining: 1.72s
144:	learn: 39535.6231909	total: 290ms	remaining: 1.71s
145:	learn: 39468.4726158	total: 291ms	remaining: 1.7s
146:	learn: 39427.6057316	total: 292ms	remaining: 1.7s
147:	learn: 39360.1088943	total: 293ms	remaining: 1.69s
148:	learn: 39330.7623525	total: 294ms	remaining: 1.68s
149:	learn: 39194.1618670	total: 295ms	remaining: 1.67s
150:	learn: 39146.7915216	total: 296ms	remaining: 1.66s
151:	learn: 39019.5264852	total: 297ms	remaining: 1.66s
152:	learn: 38925.6252397	total: 298ms	remaining: 1.65s
153:	learn: 38861.3613715	total: 299ms	remaining: 1.64s
154:	learn: 38809.8417957	total: 299ms	remaining: 1.63s
155:	learn: 38760.0730431	total: 300ms	remaining: 1.62s
156:	learn: 38709.9749890	total: 301ms	remaining: 1.62s
157:	learn: 38637.1972534	total: 302ms	remaining: 1.61s
158:	learn: 38592.8145813	total: 303ms	remaining: 1.6s
159:	learn: 38542.5191641	total: 304ms	remaining: 1.59s
160:	learn: 38488.0476393	total: 305ms	remaining: 1.59s
161:	learn: 38411.0138796	total: 306ms	remaining: 1.58s
162:	learn: 38343.2181365	total: 306ms	remaining: 1.57s
163:	learn: 38310.9275611	total: 307ms	remaining: 1.56s
164:	learn: 38257.9983944	total: 308ms	remaining: 1.56s
165:	learn: 38201.6644041	total: 309ms	remaining: 1.55s
166:	learn: 38140.5336833	total: 310ms	remaining: 1.54s
167:	learn: 38092.7064810	total: 311ms	remaining: 1.54s
168:	learn: 38056.1888833	total: 312ms	remaining: 1.53s
169:	learn: 38001.9906738	total: 312ms	remaining: 1.52s
170:	learn: 37927.6104345	total: 313ms	remaining: 1.52s
171:	learn: 37816.0556439	total: 314ms	remaining: 1.51s
172:	learn: 37762.1894475	total: 315ms	remaining: 1.51s
173:	learn: 37681.8772776	total: 316ms	remaining: 1.5s
174:	learn: 37611.8375669	total: 317ms	remaining: 1.49s
175:	learn: 37550.5890050	total: 318ms	remaining: 1.49s
176:	learn: 37438.8615914	total: 319ms	remaining: 1.48s
177:	learn: 37391.7068552	total: 320ms	remaining: 1.48s
178:	learn: 37348.8886167	total: 321ms	remaining: 1.47s
179:	learn: 37304.6203659	total: 321ms	remaining: 1.46s
180:	learn: 37246.5032468	total: 322ms	remaining: 1.46s
181:	learn: 37207.9093904	total: 323ms	remaining: 1.45s
182:	learn: 37185.6686047	total: 324ms	remaining: 1.45s
183:	learn: 37119.7406974	total: 325ms	remaining: 1.44s
184:	learn: 37100.0197178	total: 326ms	remaining: 1.43s
185:	learn: 37037.0405925	total: 327ms	remaining: 1.43s
186:	learn: 36963.4594770	total: 327ms	remaining: 1.42s
187:	learn: 36878.2853883	total: 328ms	remaining: 1.42s
188:	learn: 36845.8971698	total: 329ms	remaining: 1.41s
189:	learn: 36781.6562603	total: 330ms	remaining: 1.41s
190:	learn: 36750.4178739	total: 331ms	remaining: 1.4s
191:	learn: 36693.4230375	total: 332ms	remaining: 1.4s
192:	learn: 36658.2053087	total: 333ms	remaining: 1.39s
193:	learn: 36605.3805719	total: 334ms	remaining: 1.39s

194:	learn: 36555.1674878	total: 335ms	remaining: 1.38s
195:	learn: 36507.6740799	total: 337ms	remaining: 1.38s
196:	learn: 36432.1313153	total: 338ms	remaining: 1.38s
197:	learn: 36387.0898697	total: 339ms	remaining: 1.37s
198:	learn: 36317.3340830	total: 340ms	remaining: 1.37s
199:	learn: 36269.0130390	total: 341ms	remaining: 1.36s
200:	learn: 36242.2781413	total: 342ms	remaining: 1.36s
201:	learn: 36183.6983460	total: 343ms	remaining: 1.36s
202:	learn: 36129.1895589	total: 344ms	remaining: 1.35s
203:	learn: 36077.0066938	total: 346ms	remaining: 1.35s
204:	learn: 36030.4936820	total: 347ms	remaining: 1.34s
205:	learn: 35983.9252603	total: 348ms	remaining: 1.34s
206:	learn: 35905.4115095	total: 349ms	remaining: 1.34s
207:	learn: 35859.6855692	total: 351ms	remaining: 1.33s
208:	learn: 35812.4636483	total: 352ms	remaining: 1.33s
209:	learn: 35762.6352231	total: 353ms	remaining: 1.33s
210:	learn: 35714.2737443	total: 354ms	remaining: 1.32s
211:	learn: 35647.7020868	total: 355ms	remaining: 1.32s
212:	learn: 35603.5199363	total: 356ms	remaining: 1.31s
213:	learn: 35561.2607040	total: 357ms	remaining: 1.31s
214:	learn: 35524.5880786	total: 358ms	remaining: 1.31s
215:	learn: 35465.2096893	total: 359ms	remaining: 1.3s
216:	learn: 35416.7815741	total: 360ms	remaining: 1.3s
217:	learn: 35377.2740633	total: 361ms	remaining: 1.29s
218:	learn: 35286.7603235	total: 362ms	remaining: 1.29s
219:	learn: 35243.8746652	total: 363ms	remaining: 1.29s
220:	learn: 35208.5637715	total: 364ms	remaining: 1.28s
221:	learn: 35152.9138423	total: 365ms	remaining: 1.28s
222:	learn: 35114.9865131	total: 366ms	remaining: 1.28s
223:	learn: 35068.6338637	total: 367ms	remaining: 1.27s
224:	learn: 35019.9214338	total: 369ms	remaining: 1.27s
225:	learn: 34977.3152562	total: 370ms	remaining: 1.27s
226:	learn: 34881.7519295	total: 371ms	remaining: 1.26s
227:	learn: 34837.6490575	total: 372ms	remaining: 1.26s
228:	learn: 34794.5474797	total: 373ms	remaining: 1.26s
229:	learn: 34744.0919294	total: 374ms	remaining: 1.25s
230:	learn: 34708.8999511	total: 375ms	remaining: 1.25s
231:	learn: 34652.2501811	total: 376ms	remaining: 1.24s
232:	learn: 34617.7974365	total: 377ms	remaining: 1.24s
233:	learn: 34587.0262857	total: 378ms	remaining: 1.24s
234:	learn: 34550.5453306	total: 379ms	remaining: 1.23s
235:	learn: 34515.5037977	total: 379ms	remaining: 1.23s
236:	learn: 34480.2659191	total: 380ms	remaining: 1.22s
237:	learn: 34442.9046904	total: 381ms	remaining: 1.22s
238:	learn: 34413.7456383	total: 382ms	remaining: 1.22s
239:	learn: 34342.9777700	total: 383ms	remaining: 1.21s
240:	learn: 34313.5370609	total: 384ms	remaining: 1.21s
241:	learn: 34280.4121891	total: 385ms	remaining: 1.21s
242:	learn: 34222.6229562	total: 386ms	remaining: 1.2s
243:	learn: 34193.5932650	total: 388ms	remaining: 1.2s
244:	learn: 34173.4195580	total: 389ms	remaining: 1.2s
245:	learn: 34144.1646138	total: 390ms	remaining: 1.19s
246:	learn: 34117.1785517	total: 391ms	remaining: 1.19s
247:	learn: 34086.0142943	total: 392ms	remaining: 1.19s
248:	learn: 34035.5099749	total: 393ms	remaining: 1.18s
249:	learn: 33994.9306225	total: 394ms	remaining: 1.18s
250:	learn: 33921.7815487	total: 395ms	remaining: 1.18s
251:	learn: 33903.0579548	total: 396ms	remaining: 1.18s
252:	learn: 33874.9545993	total: 397ms	remaining: 1.17s
253:	learn: 33842.7134359	total: 398ms	remaining: 1.17s
254:	learn: 33809.9231626	total: 399ms	remaining: 1.17s
255:	learn: 33777.5289133	total: 400ms	remaining: 1.16s
256:	learn: 33727.5240041	total: 401ms	remaining: 1.16s
257:	learn: 33697.5255446	total: 402ms	remaining: 1.16s
258:	learn: 33670.9782315	total: 403ms	remaining: 1.15s
259:	learn: 33629.5850968	total: 404ms	remaining: 1.15s
260:	learn: 33581.9303595	total: 405ms	remaining: 1.15s
261:	learn: 33554.8104718	total: 406ms	remaining: 1.14s
262:	learn: 33493.3567410	total: 407ms	remaining: 1.14s
263:	learn: 33462.5197551	total: 408ms	remaining: 1.14s
264:	learn: 33435.3496761	total: 409ms	remaining: 1.14s
265:	learn: 33404.6364236	total: 410ms	remaining: 1.13s
266:	learn: 33368.4487994	total: 411ms	remaining: 1.13s
267:	learn: 33340.6591957	total: 412ms	remaining: 1.13s
268:	learn: 33317.8376990	total: 413ms	remaining: 1.12s
269:	learn: 33269.1611922	total: 414ms	remaining: 1.12s
270:	learn: 33240.1402653	total: 416ms	remaining: 1.12s
271:	learn: 33214.6743341	total: 417ms	remaining: 1.11s
272:	learn: 33194.8141123	total: 418ms	remaining: 1.11s
273:	learn: 33156.2371876	total: 419ms	remaining: 1.11s
274:	learn: 33135.8539832	total: 420ms	remaining: 1.11s
275:	learn: 33080.5542415	total: 421ms	remaining: 1.1s
276:	learn: 33056.2826636	total: 422ms	remaining: 1.1s
277:	learn: 33021.8644847	total: 423ms	remaining: 1.1s
278:	learn: 32985.5068106	total: 424ms	remaining: 1.09s
279:	learn: 32946.0628792	total: 425ms	remaining: 1.09s
280:	learn: 32923.8439008	total: 426ms	remaining: 1.09s
281:	learn: 32888.1539268	total: 427ms	remaining: 1.09s
282:	learn: 32859.3918742	total: 428ms	remaining: 1.08s
283:	learn: 32814.6773783	total: 429ms	remaining: 1.08s
284:	learn: 32807.9485950	total: 430ms	remaining: 1.08s
285:	learn: 32784.8644956	total: 431ms	remaining: 1.07s
286:	learn: 32760.7118200	total: 432ms	remaining: 1.07s
287:	learn: 32721.8993317	total: 433ms	remaining: 1.07s
288:	learn: 32687.2181715	total: 434ms	remaining: 1.07s
289:	learn: 32666.4777206	total: 435ms	remaining: 1.06s
290:	learn: 32635.1071677	total: 436ms	remaining: 1.06s
291:	learn: 32619.9088501	total: 437ms	remaining: 1.06s
292:	learn: 32594.2839570	total: 438ms	remaining: 1.06s
293:	learn: 32525.9684232	total: 439ms	remaining: 1.05s
294:	learn: 32488.9290239	total: 440ms	remaining: 1.05s
295:	learn: 32452.9782337	total: 441ms	remaining: 1.05s
296:	learn: 32426.1170770	total: 442ms	remaining: 1.04s
297:	learn: 32391.2658714	total: 443ms	remaining: 1.04s
298:	learn: 32367.4566965	total: 443ms	remaining: 1.04s
299:	learn: 32343.9260638	total: 444ms	remaining: 1.04s
300:	learn: 32278.1647242	total: 445ms	remaining: 1.03s
301:	learn: 32246.6035218	total: 446ms	remaining: 1.03s
302:	learn: 32184.0743554	total: 447ms	remaining: 1.03s
303:	learn: 32161.7014990	total: 448ms	remaining: 1.03s
304:	learn: 32126.9367678	total: 449ms	remaining: 1.02s
305:	learn: 32083.2619645	total: 450ms	remaining: 1.02s
306:	learn: 32051.0223948	total: 451ms	remaining: 1.02s
307:	learn: 32019.7233821	total: 452ms	remaining: 1.01s
308:	learn: 31992.3912073	total: 453ms	remaining: 1.01s
309:	learn: 31950.0413541	total: 454ms	remaining: 1.01s
310:	learn: 31918.5167849	total: 454ms	remaining: 1.01s
311:	learn: 31905.7369733	total: 455ms	remaining: 1s
312:	learn: 31869.3970337	total: 456ms	remaining: 1s
313:	learn: 31842.6021928	total: 457ms	remaining: 999ms
314:	learn: 31793.3489662	total: 458ms	remaining: 996ms
315:	learn: 31760.6241007	total: 459ms	remaining: 993ms
316:	learn: 31742.0476533	total: 460ms	remaining: 991ms
317:	learn: 31721.1734073	total: 461ms	remaining: 988ms
318:	learn: 31696.8724520	total: 462ms	remaining: 986ms
319:	learn: 31637.8535829	total: 463ms	remaining: 983ms
320:	learn: 31617.5682738	total: 464ms	remaining: 981ms
321:	learn: 31586.4195934	total: 464ms	remaining: 978ms
322:	learn: 31563.0549586	total: 465ms	remaining: 975ms
323:	learn: 31533.2392425	total: 466ms	remaining: 973ms
324:	learn: 31504.9149630	total: 467ms	remaining: 970ms
325:	learn: 31478.8884306	total: 468ms	remaining: 968ms
326:	learn: 31458.2808904	total: 469ms	remaining: 965ms
327:	learn: 31432.7503014	total: 470ms	remaining: 962ms
328:	learn: 31408.8354168	total: 471ms	remaining: 960ms
329:	learn: 31369.2308197	total: 472ms	remaining: 957ms
330:	learn: 31336.5112349	total: 472ms	remaining: 955ms
331:	learn: 31297.6548599	total: 473ms	remaining: 952ms
332:	learn: 31257.8450576	total: 474ms	remaining: 950ms
333:	learn: 31235.9568070	total: 475ms	remaining: 947ms
334:	learn: 31208.7602785	total: 476ms	remaining: 945ms
335:	learn: 31191.9451566	total: 477ms	remaining: 942ms
336:	learn: 31164.0188998	total: 478ms	remaining: 940ms
337:	learn: 31121.0979948	total: 479ms	remaining: 937ms
338:	learn: 31073.2970446	total: 480ms	remaining: 935ms
339:	learn: 31053.0238511	total: 480ms	remaining: 933ms
340:	learn: 31038.5336146	total: 481ms	remaining: 930ms
341:	learn: 31001.1924163	total: 482ms	remaining: 928ms
342:	learn: 30984.4367065	total: 483ms	remaining: 925ms
343:	learn: 30970.1959062	total: 484ms	remaining: 923ms
344:	learn: 30941.3194645	total: 485ms	remaining: 920ms
345:	learn: 30927.8222863	total: 486ms	remaining: 918ms
346:	learn: 30904.6318972	total: 486ms	remaining: 916ms
347:	learn: 30857.5981745	total: 487ms	remaining: 913ms
348:	learn: 30833.2574785	total: 488ms	remaining: 911ms
349:	learn: 30816.3093201	total: 489ms	remaining: 908ms
350:	learn: 30790.0529176	total: 490ms	remaining: 906ms
351:	learn: 30765.9698795	total: 491ms	remaining: 904ms
352:	learn: 30740.4222278	total: 492ms	remaining: 902ms
353:	learn: 30727.4876194	total: 493ms	remaining: 899ms
354:	learn: 30711.7746636	total: 494ms	remaining: 897ms
355:	learn: 30688.8518607	total: 494ms	remaining: 894ms
356:	learn: 30676.1613434	total: 495ms	remaining: 892ms
357:	learn: 30641.2059202	total: 496ms	remaining: 889ms
358:	learn: 30617.9574674	total: 497ms	remaining: 887ms
359:	learn: 30592.7142732	total: 498ms	remaining: 885ms
360:	learn: 30542.4776581	total: 499ms	remaining: 882ms
361:	learn: 30515.1165026	total: 499ms	remaining: 880ms

362:	learn: 30472.5972951	total: 501ms	remaining: 879ms
363:	learn: 30449.6231144	total: 502ms	remaining: 877ms
364:	learn: 30436.0510777	total: 503ms	remaining: 875ms
365:	learn: 30406.5704116	total: 504ms	remaining: 873ms
366:	learn: 30368.6404346	total: 505ms	remaining: 871ms
367:	learn: 30336.0393190	total: 506ms	remaining: 869ms
368:	learn: 30320.4614092	total: 507ms	remaining: 867ms
369:	learn: 30271.3034459	total: 508ms	remaining: 865ms
370:	learn: 30258.9106923	total: 509ms	remaining: 863ms
371:	learn: 30225.0624495	total: 510ms	remaining: 861ms
372:	learn: 30183.8847303	total: 511ms	remaining: 859ms
373:	learn: 30170.4134229	total: 512ms	remaining: 857ms
374:	learn: 30123.0654133	total: 513ms	remaining: 855ms
375:	learn: 30108.5525120	total: 514ms	remaining: 853ms
376:	learn: 30060.7785071	total: 515ms	remaining: 852ms
377:	learn: 30035.2506887	total: 516ms	remaining: 850ms
378:	learn: 30019.2393216	total: 517ms	remaining: 848ms
379:	learn: 29994.8035907	total: 519ms	remaining: 846ms
380:	learn: 29963.8329509	total: 520ms	remaining: 845ms
381:	learn: 29941.1412201	total: 521ms	remaining: 843ms
382:	learn: 29904.6389340	total: 522ms	remaining: 841ms
383:	learn: 29879.4143223	total: 523ms	remaining: 839ms
384:	learn: 29857.4854541	total: 524ms	remaining: 837ms
385:	learn: 29843.0399433	total: 525ms	remaining: 835ms
386:	learn: 29829.4561167	total: 526ms	remaining: 833ms
387:	learn: 29784.1341653	total: 527ms	remaining: 831ms
388:	learn: 29738.5035665	total: 528ms	remaining: 829ms
389:	learn: 29717.5909072	total: 529ms	remaining: 827ms
390:	learn: 29707.3874354	total: 530ms	remaining: 826ms
391:	learn: 29692.6927433	total: 531ms	remaining: 824ms
392:	learn: 29661.3801283	total: 532ms	remaining: 822ms
393:	learn: 29634.9585296	total: 533ms	remaining: 820ms
394:	learn: 29590.9007280	total: 534ms	remaining: 819ms
395:	learn: 29542.8036137	total: 535ms	remaining: 817ms
396:	learn: 29523.4337782	total: 536ms	remaining: 815ms
397:	learn: 29495.7816200	total: 537ms	remaining: 813ms
398:	learn: 29463.9893629	total: 539ms	remaining: 811ms
399:	learn: 29444.5186840	total: 540ms	remaining: 810ms
400:	learn: 29431.2846699	total: 541ms	remaining: 808ms
401:	learn: 29389.4827885	total: 542ms	remaining: 806ms
402:	learn: 29375.8316242	total: 543ms	remaining: 804ms
403:	learn: 29366.3942338	total: 544ms	remaining: 802ms
404:	learn: 29345.1796372	total: 545ms	remaining: 800ms
405:	learn: 29337.7753911	total: 546ms	remaining: 798ms
406:	learn: 29311.3834613	total: 547ms	remaining: 797ms
407:	learn: 29303.0056084	total: 548ms	remaining: 795ms
408:	learn: 29299.8128360	total: 548ms	remaining: 793ms
409:	learn: 29287.9089266	total: 549ms	remaining: 791ms
410:	learn: 29247.7098593	total: 550ms	remaining: 789ms
411:	learn: 29227.3653678	total: 551ms	remaining: 787ms
412:	learn: 29196.7726089	total: 553ms	remaining: 785ms
413:	learn: 29161.6168176	total: 554ms	remaining: 784ms
414:	learn: 29151.4044439	total: 555ms	remaining: 782ms
415:	learn: 29142.0083074	total: 556ms	remaining: 780ms
416:	learn: 29103.9281798	total: 557ms	remaining: 778ms
417:	learn: 29078.6494471	total: 558ms	remaining: 777ms
418:	learn: 29055.1494989	total: 559ms	remaining: 775ms
419:	learn: 29050.5814529	total: 559ms	remaining: 773ms
420:	learn: 29033.0785248	total: 560ms	remaining: 771ms
421:	learn: 28995.8306529	total: 561ms	remaining: 769ms
422:	learn: 28981.2835584	total: 563ms	remaining: 768ms
423:	learn: 28945.4051160	total: 564ms	remaining: 766ms
424:	learn: 28915.4655949	total: 565ms	remaining: 764ms
425:	learn: 28899.2443334	total: 566ms	remaining: 762ms
426:	learn: 28876.1506489	total: 567ms	remaining: 761ms
427:	learn: 28861.4291311	total: 568ms	remaining: 759ms
428:	learn: 28822.3686707	total: 569ms	remaining: 757ms
429:	learn: 28784.1472581	total: 570ms	remaining: 755ms
430:	learn: 28773.8690772	total: 571ms	remaining: 754ms
431:	learn: 28765.8470536	total: 572ms	remaining: 752ms
432:	learn: 28756.1287025	total: 573ms	remaining: 750ms
433:	learn: 28726.6528874	total: 574ms	remaining: 749ms
434:	learn: 28702.6531920	total: 575ms	remaining: 747ms
435:	learn: 28696.2345874	total: 576ms	remaining: 745ms
436:	learn: 28659.3224151	total: 577ms	remaining: 744ms
437:	learn: 28643.6550303	total: 578ms	remaining: 742ms
438:	learn: 28626.5137690	total: 579ms	remaining: 740ms
439:	learn: 28612.0584589	total: 580ms	remaining: 738ms
440:	learn: 28604.0021877	total: 581ms	remaining: 737ms
441:	learn: 28587.4617451	total: 582ms	remaining: 735ms
442:	learn: 28556.3115416	total: 583ms	remaining: 733ms
443:	learn: 28521.9430314	total: 584ms	remaining: 732ms
444:	learn: 28516.5731348	total: 585ms	remaining: 730ms
445:	learn: 28495.6853919	total: 586ms	remaining: 728ms
446:	learn: 28441.8970294	total: 587ms	remaining: 727ms
447:	learn: 28409.7568038	total: 588ms	remaining: 725ms
448:	learn: 28401.8379839	total: 589ms	remaining: 723ms
449:	learn: 28398.2092233	total: 590ms	remaining: 721ms
450:	learn: 28380.0746395	total: 591ms	remaining: 720ms
451:	learn: 28359.3212081	total: 592ms	remaining: 718ms
452:	learn: 28323.9170389	total: 593ms	remaining: 716ms
453:	learn: 28316.0311353	total: 594ms	remaining: 715ms
454:	learn: 28310.5533837	total: 595ms	remaining: 713ms
455:	learn: 28301.1165785	total: 596ms	remaining: 711ms
456:	learn: 28269.6661547	total: 597ms	remaining: 709ms
457:	learn: 28254.1418483	total: 598ms	remaining: 708ms
458:	learn: 28245.2681898	total: 599ms	remaining: 706ms
459:	learn: 28230.0143257	total: 600ms	remaining: 704ms
460:	learn: 28221.0170563	total: 601ms	remaining: 703ms
461:	learn: 28203.6816284	total: 602ms	remaining: 701ms
462:	learn: 28184.1059685	total: 603ms	remaining: 699ms
463:	learn: 28182.0546163	total: 604ms	remaining: 697ms
464:	learn: 28167.1595937	total: 605ms	remaining: 696ms
465:	learn: 28151.6032226	total: 605ms	remaining: 694ms
466:	learn: 28135.7815919	total: 606ms	remaining: 692ms
467:	learn: 28117.0727748	total: 607ms	remaining: 690ms
468:	learn: 28099.4023139	total: 608ms	remaining: 688ms
469:	learn: 28095.5875681	total: 609ms	remaining: 687ms
470:	learn: 28046.3946476	total: 610ms	remaining: 685ms
471:	learn: 28014.4439167	total: 611ms	remaining: 683ms
472:	learn: 28004.9409731	total: 612ms	remaining: 682ms
473:	learn: 27990.5830259	total: 613ms	remaining: 680ms
474:	learn: 27972.7679701	total: 614ms	remaining: 678ms
475:	learn: 27963.8769371	total: 614ms	remaining: 676ms
476:	learn: 27949.5065160	total: 615ms	remaining: 675ms
477:	learn: 27920.3348934	total: 616ms	remaining: 673ms
478:	learn: 27908.6089503	total: 617ms	remaining: 671ms
479:	learn: 27884.0934035	total: 618ms	remaining: 670ms
480:	learn: 27871.0233453	total: 619ms	remaining: 668ms
481:	learn: 27848.3923656	total: 620ms	remaining: 666ms
482:	learn: 27833.8973392	total: 621ms	remaining: 665ms
483:	learn: 27824.6479000	total: 622ms	remaining: 663ms
484:	learn: 27810.3353595	total: 623ms	remaining: 661ms
485:	learn: 27786.6062326	total: 623ms	remaining: 659ms
486:	learn: 27778.7372614	total: 624ms	remaining: 658ms
487:	learn: 27767.2595234	total: 625ms	remaining: 656ms
488:	learn: 27737.8704256	total: 626ms	remaining: 654ms
489:	learn: 27726.0288429	total: 627ms	remaining: 652ms
490:	learn: 27713.5413697	total: 628ms	remaining: 651ms
491:	learn: 27696.9135856	total: 628ms	remaining: 649ms
492:	learn: 27677.7182864	total: 629ms	remaining: 647ms
493:	learn: 27655.4478684	total: 630ms	remaining: 645ms
494:	learn: 27614.9468950	total: 631ms	remaining: 644ms
495:	learn: 27609.0643255	total: 632ms	remaining: 642ms
496:	learn: 27574.2686559	total: 633ms	remaining: 640ms
497:	learn: 27566.2171919	total: 634ms	remaining: 639ms
498:	learn: 27555.2505385	total: 634ms	remaining: 637ms
499:	learn: 27547.7620241	total: 635ms	remaining: 635ms
500:	learn: 27537.2238579	total: 636ms	remaining: 634ms
501:	learn: 27525.6323340	total: 637ms	remaining: 632ms
502:	learn: 27510.4088467	total: 638ms	remaining: 630ms
503:	learn: 27494.5521662	total: 639ms	remaining: 629ms
504:	learn: 27485.8121587	total: 640ms	remaining: 627ms
505:	learn: 27463.8039661	total: 641ms	remaining: 625ms
506:	learn: 27441.3951343	total: 641ms	remaining: 624ms
507:	learn: 27432.6662244	total: 642ms	remaining: 622ms
508:	learn: 27428.0408626	total: 643ms	remaining: 621ms
509:	learn: 27415.7854798	total: 644ms	remaining: 619ms
510:	learn: 27395.7154210	total: 645ms	remaining: 617ms
511:	learn: 27387.3875145	total: 646ms	remaining: 616ms
512:	learn: 27368.8859954	total: 647ms	remaining: 614ms
513:	learn: 27353.1360654	total: 648ms	remaining: 613ms
514:	learn: 27348.1169483	total: 649ms	remaining: 611ms
515:	learn: 27332.0364238	total: 650ms	remaining: 609ms
516:	learn: 27305.6510208	total: 651ms	remaining: 608ms
517:	learn: 27277.0260684	total: 652ms	remaining: 606ms
518:	learn: 27259.3824071	total: 653ms	remaining: 605ms
519:	learn: 27242.5435617	total: 653ms	remaining: 603ms
520:	learn: 27231.5621254	total: 654ms	remaining: 602ms
521:	learn: 27210.7985549	total: 655ms	remaining: 600ms
522:	learn: 27205.0880784	total: 656ms	remaining: 598ms
523:	learn: 27201.3390093	total: 657ms	remaining: 597ms
524:	learn: 27193.5076030	total: 658ms	remaining: 595ms
525:	learn: 27169.3188703	total: 659ms	remaining: 594ms
526:	learn: 27149.4751498	total: 660ms	remaining: 592ms
527:	learn: 27138.6118171	total: 661ms	remaining: 591ms
528:	learn: 27124.3744923	total: 662ms	remaining: 589ms
529:	learn: 27086.9050799	total: 663ms	remaining: 588ms
530:	learn: 27067.6548964	total: 663ms	remaining: 586ms
531:	learn: 27044.2503288	total: 664ms	remaining: 584ms
532:	learn: 27008.9246004	total: 665ms	remaining: 583ms

533:	learn: 26978.0191543	total: 666ms	remaining: 582ms
534:	learn: 26954.1540472	total: 668ms	remaining: 580ms
535:	learn: 26949.6985037	total: 669ms	remaining: 579ms
536:	learn: 26943.8607898	total: 670ms	remaining: 577ms
537:	learn: 26937.3280307	total: 671ms	remaining: 576ms
538:	learn: 26935.7557503	total: 671ms	remaining: 574ms
539:	learn: 26910.1291121	total: 672ms	remaining: 573ms
540:	learn: 26889.5395850	total: 673ms	remaining: 571ms
541:	learn: 26860.5086941	total: 674ms	remaining: 570ms
542:	learn: 26840.8552141	total: 676ms	remaining: 569ms
543:	learn: 26822.8333654	total: 676ms	remaining: 567ms
544:	learn: 26812.1150562	total: 677ms	remaining: 566ms
545:	learn: 26800.1328073	total: 679ms	remaining: 564ms
546:	learn: 26790.3967402	total: 680ms	remaining: 563ms
547:	learn: 26754.5687123	total: 681ms	remaining: 562ms
548:	learn: 26738.9411498	total: 682ms	remaining: 560ms
549:	learn: 26729.3195874	total: 683ms	remaining: 559ms
550:	learn: 26723.5244374	total: 684ms	remaining: 558ms
551:	learn: 26717.5532003	total: 685ms	remaining: 556ms
552:	learn: 26701.1317171	total: 686ms	remaining: 555ms
553:	learn: 26679.9961083	total: 687ms	remaining: 553ms
554:	learn: 26676.3175477	total: 688ms	remaining: 552ms
555:	learn: 26663.4579586	total: 689ms	remaining: 550ms
556:	learn: 26654.4115067	total: 690ms	remaining: 549ms
557:	learn: 26635.9267639	total: 691ms	remaining: 548ms
558:	learn: 26623.6345127	total: 692ms	remaining: 546ms
559:	learn: 26601.6585594	total: 694ms	remaining: 545ms
560:	learn: 26573.0032061	total: 695ms	remaining: 544ms
561:	learn: 26564.1671381	total: 696ms	remaining: 542ms
562:	learn: 26556.7948980	total: 697ms	remaining: 541ms
563:	learn: 26539.3824355	total: 698ms	remaining: 540ms
564:	learn: 26532.8453809	total: 699ms	remaining: 538ms
565:	learn: 26516.1820414	total: 700ms	remaining: 537ms
566:	learn: 26503.4918745	total: 701ms	remaining: 535ms
567:	learn: 26490.0691104	total: 702ms	remaining: 534ms
568:	learn: 26457.9747907	total: 703ms	remaining: 533ms
569:	learn: 26430.7396405	total: 704ms	remaining: 531ms
570:	learn: 26427.8016791	total: 705ms	remaining: 530ms
571:	learn: 26407.9166952	total: 706ms	remaining: 528ms
572:	learn: 26395.6226170	total: 707ms	remaining: 527ms
573:	learn: 26386.7193610	total: 708ms	remaining: 525ms
574:	learn: 26362.0900240	total: 709ms	remaining: 524ms
575:	learn: 26346.8844524	total: 710ms	remaining: 523ms
576:	learn: 26343.4146708	total: 711ms	remaining: 521ms
577:	learn: 26335.6589687	total: 712ms	remaining: 520ms
578:	learn: 26330.0727482	total: 713ms	remaining: 519ms
579:	learn: 26310.3911384	total: 714ms	remaining: 517ms
580:	learn: 26297.3561601	total: 715ms	remaining: 516ms
581:	learn: 26282.1976922	total: 716ms	remaining: 514ms
582:	learn: 26271.2022461	total: 717ms	remaining: 513ms
583:	learn: 26269.1702538	total: 719ms	remaining: 512ms
584:	learn: 26260.8953980	total: 720ms	remaining: 511ms
585:	learn: 26249.6618927	total: 721ms	remaining: 509ms
586:	learn: 26232.8813904	total: 722ms	remaining: 508ms
587:	learn: 26220.6247036	total: 723ms	remaining: 506ms
588:	learn: 26212.8152057	total: 724ms	remaining: 505ms
589:	learn: 26188.9921792	total: 725ms	remaining: 504ms
590:	learn: 26180.6037205	total: 726ms	remaining: 502ms
591:	learn: 26173.6937905	total: 727ms	remaining: 501ms
592:	learn: 26158.4438197	total: 728ms	remaining: 500ms
593:	learn: 26152.8551927	total: 729ms	remaining: 498ms
594:	learn: 26144.3616585	total: 730ms	remaining: 497ms
595:	learn: 26124.9163291	total: 731ms	remaining: 495ms
596:	learn: 26114.5358642	total: 732ms	remaining: 494ms
597:	learn: 26098.3332949	total: 733ms	remaining: 493ms
598:	learn: 26070.4114115	total: 734ms	remaining: 491ms
599:	learn: 26061.1349091	total: 735ms	remaining: 490ms
600:	learn: 26053.6355489	total: 736ms	remaining: 489ms
601:	learn: 26046.6037365	total: 737ms	remaining: 487ms
602:	learn: 26031.9293363	total: 738ms	remaining: 486ms
603:	learn: 26018.3266613	total: 739ms	remaining: 485ms
604:	learn: 26012.8131266	total: 740ms	remaining: 483ms
605:	learn: 26003.5685600	total: 741ms	remaining: 482ms
606:	learn: 25983.9315675	total: 742ms	remaining: 481ms
607:	learn: 25972.0396955	total: 743ms	remaining: 479ms
608:	learn: 25952.7681176	total: 744ms	remaining: 478ms
609:	learn: 25946.8874820	total: 745ms	remaining: 477ms
610:	learn: 25944.5209668	total: 747ms	remaining: 475ms
611:	learn: 25936.1399182	total: 748ms	remaining: 474ms
612:	learn: 25924.9493436	total: 749ms	remaining: 473ms
613:	learn: 25921.2090659	total: 749ms	remaining: 471ms
614:	learn: 25906.5988635	total: 750ms	remaining: 470ms
615:	learn: 25893.3890049	total: 752ms	remaining: 468ms
616:	learn: 25886.3535860	total: 753ms	remaining: 467ms
617:	learn: 25861.5868592	total: 754ms	remaining: 466ms
618:	learn: 25838.4335925	total: 755ms	remaining: 464ms
619:	learn: 25831.5268281	total: 756ms	remaining: 463ms
620:	learn: 25822.5230672	total: 757ms	remaining: 462ms
621:	learn: 25798.0072399	total: 758ms	remaining: 460ms
622:	learn: 25787.2349350	total: 758ms	remaining: 459ms
623:	learn: 25777.9029236	total: 759ms	remaining: 458ms
624:	learn: 25771.6674808	total: 760ms	remaining: 456ms
625:	learn: 25756.6707678	total: 761ms	remaining: 455ms
626:	learn: 25756.2857740	total: 762ms	remaining: 453ms
627:	learn: 25746.9585247	total: 763ms	remaining: 452ms
628:	learn: 25726.0890735	total: 764ms	remaining: 451ms
629:	learn: 25717.1283504	total: 765ms	remaining: 449ms
630:	learn: 25690.6466540	total: 766ms	remaining: 448ms
631:	learn: 25668.0417738	total: 767ms	remaining: 447ms
632:	learn: 25655.0331398	total: 768ms	remaining: 445ms
633:	learn: 25648.3794096	total: 769ms	remaining: 444ms
634:	learn: 25641.0168735	total: 770ms	remaining: 443ms
635:	learn: 25621.3715168	total: 771ms	remaining: 441ms
636:	learn: 25618.4388371	total: 772ms	remaining: 440ms
637:	learn: 25610.8196190	total: 773ms	remaining: 439ms
638:	learn: 25590.9750821	total: 774ms	remaining: 437ms
639:	learn: 25577.3692058	total: 775ms	remaining: 436ms
640:	learn: 25569.3291064	total: 776ms	remaining: 435ms
641:	learn: 25567.1628127	total: 777ms	remaining: 433ms
642:	learn: 25555.7578865	total: 778ms	remaining: 432ms
643:	learn: 25549.6168145	total: 779ms	remaining: 431ms
644:	learn: 25538.2053604	total: 780ms	remaining: 429ms
645:	learn: 25531.2477601	total: 781ms	remaining: 428ms
646:	learn: 25527.1062332	total: 782ms	remaining: 427ms
647:	learn: 25523.9415237	total: 783ms	remaining: 425ms
648:	learn: 25517.7126388	total: 784ms	remaining: 424ms
649:	learn: 25506.5811300	total: 785ms	remaining: 423ms
650:	learn: 25497.5716663	total: 786ms	remaining: 421ms
651:	learn: 25491.7519470	total: 787ms	remaining: 420ms
652:	learn: 25485.2837264	total: 788ms	remaining: 419ms
653:	learn: 25476.8385724	total: 789ms	remaining: 418ms
654:	learn: 25468.0724534	total: 790ms	remaining: 416ms
655:	learn: 25461.1656517	total: 791ms	remaining: 415ms
656:	learn: 25456.9968160	total: 792ms	remaining: 414ms
657:	learn: 25450.2781694	total: 793ms	remaining: 412ms
658:	learn: 25447.4900741	total: 794ms	remaining: 411ms
659:	learn: 25431.8884310	total: 795ms	remaining: 410ms
660:	learn: 25418.5417671	total: 796ms	remaining: 408ms
661:	learn: 25409.7046189	total: 797ms	remaining: 407ms
662:	learn: 25402.4715896	total: 798ms	remaining: 406ms
663:	learn: 25398.2975818	total: 799ms	remaining: 404ms
664:	learn: 25395.0906407	total: 800ms	remaining: 403ms
665:	learn: 25389.3022878	total: 801ms	remaining: 402ms
666:	learn: 25378.8815909	total: 802ms	remaining: 400ms
667:	learn: 25373.0866890	total: 803ms	remaining: 399ms
668:	learn: 25368.2841439	total: 804ms	remaining: 398ms
669:	learn: 25365.5274278	total: 805ms	remaining: 396ms
670:	learn: 25355.6883555	total: 806ms	remaining: 395ms
671:	learn: 25344.3073287	total: 806ms	remaining: 394ms
672:	learn: 25333.7130421	total: 807ms	remaining: 392ms
673:	learn: 25325.8327295	total: 808ms	remaining: 391ms
674:	learn: 25318.5614887	total: 809ms	remaining: 390ms
675:	learn: 25297.8599082	total: 810ms	remaining: 388ms
676:	learn: 25293.7494864	total: 811ms	remaining: 387ms
677:	learn: 25284.2873118	total: 812ms	remaining: 385ms
678:	learn: 25275.3176780	total: 813ms	remaining: 384ms
679:	learn: 25267.1578386	total: 813ms	remaining: 383ms
680:	learn: 25249.5023625	total: 814ms	remaining: 381ms
681:	learn: 25232.6258007	total: 815ms	remaining: 380ms
682:	learn: 25226.9635015	total: 816ms	remaining: 379ms
683:	learn: 25219.0163847	total: 817ms	remaining: 377ms
684:	learn: 25214.7244138	total: 818ms	remaining: 376ms
685:	learn: 25205.1754109	total: 819ms	remaining: 375ms
686:	learn: 25200.9761212	total: 820ms	remaining: 373ms
687:	learn: 25185.4747924	total: 821ms	remaining: 372ms
688:	learn: 25176.7876009	total: 821ms	remaining: 371ms
689:	learn: 25172.2277644	total: 822ms	remaining: 369ms
690:	learn: 25168.4509676	total: 823ms	remaining: 368ms
691:	learn: 25159.5143008	total: 824ms	remaining: 367ms
692:	learn: 25147.9282129	total: 825ms	remaining: 365ms
693:	learn: 25143.4860941	total: 826ms	remaining: 364ms
694:	learn: 25129.0369469	total: 827ms	remaining: 363ms
695:	learn: 25110.4603078	total: 828ms	remaining: 362ms
696:	learn: 25106.3209611	total: 829ms	remaining: 360ms
697:	learn: 25101.6471117	total: 830ms	remaining: 359ms
698:	learn: 25090.0720518	total: 830ms	remaining: 358ms
699:	learn: 25083.2971432	total: 831ms	remaining: 356ms
700:	learn: 25070.5100209	total: 832ms	remaining: 355ms
701:	learn: 25066.5305620	total: 833ms	remaining: 354ms

702:	learn: 25055.3051270	total: 834ms	remaining: 352ms
703:	learn: 25035.1076750	total: 836ms	remaining: 351ms
704:	learn: 25029.6965929	total: 837ms	remaining: 350ms
705:	learn: 25020.5988623	total: 838ms	remaining: 349ms
706:	learn: 25015.4990197	total: 839ms	remaining: 348ms
707:	learn: 24993.3399760	total: 840ms	remaining: 346ms
708:	learn: 24980.7187386	total: 841ms	remaining: 345ms
709:	learn: 24974.7469976	total: 842ms	remaining: 344ms
710:	learn: 24967.2508824	total: 843ms	remaining: 343ms
711:	learn: 24965.3115444	total: 844ms	remaining: 341ms
712:	learn: 24961.2680438	total: 845ms	remaining: 340ms
713:	learn: 24952.0163012	total: 846ms	remaining: 339ms
714:	learn: 24937.5833047	total: 847ms	remaining: 338ms
715:	learn: 24934.3507148	total: 848ms	remaining: 336ms
716:	learn: 24916.6466597	total: 849ms	remaining: 335ms
717:	learn: 24911.8266713	total: 850ms	remaining: 334ms
718:	learn: 24909.0737373	total: 851ms	remaining: 333ms
719:	learn: 24900.3097330	total: 852ms	remaining: 332ms
720:	learn: 24894.9004207	total: 853ms	remaining: 330ms
721:	learn: 24889.7894597	total: 854ms	remaining: 329ms
722:	learn: 24883.0493513	total: 855ms	remaining: 328ms
723:	learn: 24868.4642872	total: 856ms	remaining: 326ms
724:	learn: 24864.8906423	total: 858ms	remaining: 325ms
725:	learn: 24856.2148433	total: 859ms	remaining: 324ms
726:	learn: 24845.9075793	total: 860ms	remaining: 323ms
727:	learn: 24831.2285911	total: 861ms	remaining: 322ms
728:	learn: 24827.1261580	total: 862ms	remaining: 320ms
729:	learn: 24817.4602527	total: 863ms	remaining: 319ms
730:	learn: 24803.8840240	total: 864ms	remaining: 318ms
731:	learn: 24798.0845607	total: 865ms	remaining: 317ms
732:	learn: 24792.2233289	total: 866ms	remaining: 315ms
733:	learn: 24788.1236861	total: 867ms	remaining: 314ms
734:	learn: 24774.6240001	total: 868ms	remaining: 313ms
735:	learn: 24772.0079105	total: 869ms	remaining: 312ms
736:	learn: 24766.2389593	total: 870ms	remaining: 310ms
737:	learn: 24763.8182874	total: 871ms	remaining: 309ms
738:	learn: 24745.7404721	total: 872ms	remaining: 308ms
739:	learn: 24734.6548976	total: 873ms	remaining: 307ms
740:	learn: 24721.7506823	total: 874ms	remaining: 306ms
741:	learn: 24711.4161550	total: 875ms	remaining: 304ms
742:	learn: 24696.7933780	total: 876ms	remaining: 303ms
743:	learn: 24689.0132275	total: 877ms	remaining: 302ms
744:	learn: 24683.6522122	total: 878ms	remaining: 301ms
745:	learn: 24679.7811314	total: 879ms	remaining: 299ms
746:	learn: 24676.3954087	total: 880ms	remaining: 298ms
747:	learn: 24671.0800564	total: 881ms	remaining: 297ms
748:	learn: 24656.3979121	total: 882ms	remaining: 296ms
749:	learn: 24653.9717437	total: 883ms	remaining: 294ms
750:	learn: 24648.8201623	total: 884ms	remaining: 293ms
751:	learn: 24642.3152526	total: 885ms	remaining: 292ms
752:	learn: 24635.1454217	total: 886ms	remaining: 291ms
753:	learn: 24632.5986697	total: 887ms	remaining: 289ms
754:	learn: 24625.6375052	total: 888ms	remaining: 288ms
755:	learn: 24617.3231283	total: 889ms	remaining: 287ms
756:	learn: 24601.2594660	total: 890ms	remaining: 286ms
757:	learn: 24588.9494132	total: 891ms	remaining: 285ms
758:	learn: 24583.8815439	total: 892ms	remaining: 283ms
759:	learn: 24569.8580878	total: 893ms	remaining: 282ms
760:	learn: 24565.2837691	total: 894ms	remaining: 281ms
761:	learn: 24558.8989215	total: 895ms	remaining: 280ms
762:	learn: 24556.5772486	total: 897ms	remaining: 278ms
763:	learn: 24551.5902804	total: 898ms	remaining: 277ms
764:	learn: 24550.4858720	total: 899ms	remaining: 276ms
765:	learn: 24538.1514397	total: 900ms	remaining: 275ms
766:	learn: 24532.3749505	total: 900ms	remaining: 274ms
767:	learn: 24527.5194229	total: 901ms	remaining: 272ms
768:	learn: 24518.8641070	total: 903ms	remaining: 271ms
769:	learn: 24508.7766096	total: 904ms	remaining: 270ms
770:	learn: 24506.6500308	total: 905ms	remaining: 269ms
771:	learn: 24494.7818076	total: 906ms	remaining: 267ms
772:	learn: 24487.0385843	total: 907ms	remaining: 266ms
773:	learn: 24481.9646765	total: 908ms	remaining: 265ms
774:	learn: 24473.8312710	total: 909ms	remaining: 264ms
775:	learn: 24467.7584905	total: 910ms	remaining: 263ms
776:	learn: 24464.1366435	total: 911ms	remaining: 261ms
777:	learn: 24447.6015447	total: 912ms	remaining: 260ms
778:	learn: 24442.7919144	total: 913ms	remaining: 259ms
779:	learn: 24438.9726867	total: 914ms	remaining: 258ms
780:	learn: 24434.1972389	total: 915ms	remaining: 257ms
781:	learn: 24426.4426017	total: 916ms	remaining: 255ms
782:	learn: 24420.5409090	total: 917ms	remaining: 254ms
783:	learn: 24414.1961945	total: 918ms	remaining: 253ms
784:	learn: 24407.8089692	total: 919ms	remaining: 252ms
785:	learn: 24396.9874045	total: 920ms	remaining: 250ms
786:	learn: 24387.1513054	total: 921ms	remaining: 249ms
787:	learn: 24383.2770405	total: 922ms	remaining: 248ms
788:	learn: 24374.9028837	total: 923ms	remaining: 247ms
789:	learn: 24370.9374547	total: 924ms	remaining: 246ms
790:	learn: 24367.5768138	total: 925ms	remaining: 244ms
791:	learn: 24359.8540306	total: 926ms	remaining: 243ms
792:	learn: 24356.0002039	total: 927ms	remaining: 242ms
793:	learn: 24351.1666326	total: 928ms	remaining: 241ms
794:	learn: 24346.3417899	total: 929ms	remaining: 240ms
795:	learn: 24336.6690452	total: 930ms	remaining: 238ms
796:	learn: 24330.3673018	total: 931ms	remaining: 237ms
797:	learn: 24327.5514524	total: 932ms	remaining: 236ms
798:	learn: 24325.0808387	total: 933ms	remaining: 235ms
799:	learn: 24317.9290618	total: 934ms	remaining: 233ms
800:	learn: 24303.6544621	total: 935ms	remaining: 232ms
801:	learn: 24297.5609233	total: 936ms	remaining: 231ms
802:	learn: 24295.3080354	total: 937ms	remaining: 230ms
803:	learn: 24285.3374719	total: 938ms	remaining: 229ms
804:	learn: 24282.5104780	total: 939ms	remaining: 227ms
805:	learn: 24280.8413922	total: 940ms	remaining: 226ms
806:	learn: 24273.2617631	total: 941ms	remaining: 225ms
807:	learn: 24257.8147947	total: 941ms	remaining: 224ms
808:	learn: 24252.0211885	total: 942ms	remaining: 223ms
809:	learn: 24241.9487393	total: 943ms	remaining: 221ms
810:	learn: 24233.1324276	total: 944ms	remaining: 220ms
811:	learn: 24229.7360253	total: 945ms	remaining: 219ms
812:	learn: 24224.7247067	total: 946ms	remaining: 218ms
813:	learn: 24218.4014304	total: 947ms	remaining: 216ms
814:	learn: 24215.1569562	total: 948ms	remaining: 215ms
815:	learn: 24212.9523392	total: 949ms	remaining: 214ms
816:	learn: 24204.1531367	total: 950ms	remaining: 213ms
817:	learn: 24201.6066159	total: 951ms	remaining: 211ms
818:	learn: 24198.4770082	total: 951ms	remaining: 210ms
819:	learn: 24196.0495831	total: 952ms	remaining: 209ms
820:	learn: 24188.8553553	total: 953ms	remaining: 208ms
821:	learn: 24178.6443992	total: 954ms	remaining: 207ms
822:	learn: 24164.2300116	total: 955ms	remaining: 205ms
823:	learn: 24158.4118483	total: 956ms	remaining: 204ms
824:	learn: 24151.6457165	total: 957ms	remaining: 203ms
825:	learn: 24145.9480249	total: 958ms	remaining: 202ms
826:	learn: 24139.5456410	total: 959ms	remaining: 201ms
827:	learn: 24134.3147454	total: 960ms	remaining: 199ms
828:	learn: 24126.2601782	total: 960ms	remaining: 198ms
829:	learn: 24117.8926563	total: 961ms	remaining: 197ms
830:	learn: 24115.4135838	total: 962ms	remaining: 196ms
831:	learn: 24112.5592778	total: 963ms	remaining: 194ms
832:	learn: 24111.0567308	total: 964ms	remaining: 193ms
833:	learn: 24104.4842824	total: 965ms	remaining: 192ms
834:	learn: 24103.1480034	total: 966ms	remaining: 191ms
835:	learn: 24098.7977116	total: 967ms	remaining: 190ms
836:	learn: 24092.1251932	total: 968ms	remaining: 188ms
837:	learn: 24086.8739065	total: 968ms	remaining: 187ms
838:	learn: 24085.3266708	total: 969ms	remaining: 186ms
839:	learn: 24079.9551988	total: 970ms	remaining: 185ms
840:	learn: 24077.7080411	total: 971ms	remaining: 184ms
841:	learn: 24072.5156278	total: 972ms	remaining: 182ms
842:	learn: 24067.4467184	total: 973ms	remaining: 181ms
843:	learn: 24062.5565273	total: 974ms	remaining: 180ms
844:	learn: 24057.8019511	total: 975ms	remaining: 179ms
845:	learn: 24053.9596395	total: 976ms	remaining: 178ms
846:	learn: 24049.2210332	total: 977ms	remaining: 176ms
847:	learn: 24045.1495567	total: 978ms	remaining: 175ms
848:	learn: 24042.0777239	total: 979ms	remaining: 174ms
849:	learn: 24040.4614321	total: 980ms	remaining: 173ms
850:	learn: 24022.3595514	total: 980ms	remaining: 172ms
851:	learn: 24017.4706544	total: 981ms	remaining: 170ms
852:	learn: 24011.4707395	total: 982ms	remaining: 169ms
853:	learn: 24007.5178116	total: 983ms	remaining: 168ms
854:	learn: 24001.2390294	total: 984ms	remaining: 167ms
855:	learn: 23996.6993984	total: 985ms	remaining: 166ms
856:	learn: 23992.6853791	total: 986ms	remaining: 164ms
857:	learn: 23988.4025156	total: 987ms	remaining: 163ms
858:	learn: 23978.6997259	total: 987ms	remaining: 162ms
859:	learn: 23965.2395586	total: 988ms	remaining: 161ms
860:	learn: 23963.6868510	total: 989ms	remaining: 160ms
861:	learn: 23959.7788350	total: 990ms	remaining: 159ms
862:	learn: 23944.6413663	total: 991ms	remaining: 157ms
863:	learn: 23942.0804404	total: 992ms	remaining: 156ms
864:	learn: 23939.3754979	total: 993ms	remaining: 155ms
865:	learn: 23936.5644669	total: 994ms	remaining: 154ms
866:	learn: 23935.1786584	total: 995ms	remaining: 153ms
867:	learn: 23926.5508892	total: 995ms	remaining: 151ms
868:	learn: 23923.1588230	total: 996ms	remaining: 150ms
869:	learn: 23919.8081703	total: 997ms	remaining: 149ms
870:	learn: 23917.2145075	total: 998ms	remaining: 148ms
871:	learn: 23907.0605820	total: 999ms	remaining: 147ms
872:	learn: 23902.5390418	total: 1000ms	remaining: 145ms

873:	learn: 23888.0957327	total: 1s	remaining: 144ms
874:	learn: 23884.9797983	total: 1s	remaining: 143ms
875:	learn: 23880.5614762	total: 1s	remaining: 142ms
876:	learn: 23877.2909476	total: 1s	remaining: 141ms
877:	learn: 23875.6554030	total: 1s	remaining: 140ms
878:	learn: 23873.4892798	total: 1.01s	remaining: 139ms
879:	learn: 23868.7266354	total: 1.01s	remaining: 137ms
880:	learn: 23859.5109339	total: 1.01s	remaining: 136ms
881:	learn: 23849.7126781	total: 1.01s	remaining: 135ms
882:	learn: 23847.8483499	total: 1.01s	remaining: 134ms
883:	learn: 23844.4589818	total: 1.01s	remaining: 133ms
884:	learn: 23842.7649655	total: 1.01s	remaining: 132ms
885:	learn: 23836.9681968	total: 1.01s	remaining: 130ms
886:	learn: 23832.7245884	total: 1.01s	remaining: 129ms
887:	learn: 23829.2911548	total: 1.01s	remaining: 128ms
888:	learn: 23828.0158225	total: 1.02s	remaining: 127ms
889:	learn: 23823.0426966	total: 1.02s	remaining: 126ms
890:	learn: 23817.7649041	total: 1.02s	remaining: 125ms
891:	learn: 23811.6694659	total: 1.02s	remaining: 123ms
892:	learn: 23808.0537357	total: 1.02s	remaining: 122ms
893:	learn: 23799.8339808	total: 1.02s	remaining: 121ms
894:	learn: 23786.8536148	total: 1.02s	remaining: 120ms
895:	learn: 23777.5006715	total: 1.02s	remaining: 119ms
896:	learn: 23773.3977278	total: 1.02s	remaining: 118ms
897:	learn: 23770.1414906	total: 1.03s	remaining: 117ms
898:	learn: 23763.5534394	total: 1.03s	remaining: 115ms
899:	learn: 23759.4074454	total: 1.03s	remaining: 114ms
900:	learn: 23756.6832819	total: 1.03s	remaining: 113ms
901:	learn: 23755.7128876	total: 1.03s	remaining: 112ms
902:	learn: 23751.3191865	total: 1.03s	remaining: 111ms
903:	learn: 23748.6336086	total: 1.03s	remaining: 110ms
904:	learn: 23744.7078476	total: 1.03s	remaining: 108ms
905:	learn: 23741.8917046	total: 1.03s	remaining: 107ms
906:	learn: 23737.5914453	total: 1.03s	remaining: 106ms
907:	learn: 23735.3247837	total: 1.04s	remaining: 105ms
908:	learn: 23733.6168404	total: 1.04s	remaining: 104ms
909:	learn: 23725.1320026	total: 1.04s	remaining: 103ms
910:	learn: 23719.8685889	total: 1.04s	remaining: 102ms
911:	learn: 23717.1664678	total: 1.04s	remaining: 100ms
912:	learn: 23705.7824979	total: 1.04s	remaining: 99.2ms
913:	learn: 23692.6103226	total: 1.04s	remaining: 98.1ms
914:	learn: 23685.1864259	total: 1.04s	remaining: 96.9ms
915:	learn: 23674.3018281	total: 1.04s	remaining: 95.8ms
916:	learn: 23671.2884574	total: 1.04s	remaining: 94.6ms
917:	learn: 23664.3358178	total: 1.05s	remaining: 93.5ms
918:	learn: 23661.3977796	total: 1.05s	remaining: 92.3ms
919:	learn: 23659.7346392	total: 1.05s	remaining: 91.2ms
920:	learn: 23655.3414109	total: 1.05s	remaining: 90ms
921:	learn: 23647.2025794	total: 1.05s	remaining: 88.8ms
922:	learn: 23645.2154976	total: 1.05s	remaining: 87.7ms
923:	learn: 23641.3741771	total: 1.05s	remaining: 86.5ms
924:	learn: 23640.2047319	total: 1.05s	remaining: 85.4ms
925:	learn: 23633.4861684	total: 1.05s	remaining: 84.2ms
926:	learn: 23631.9840982	total: 1.05s	remaining: 83.1ms
927:	learn: 23629.4608157	total: 1.06s	remaining: 81.9ms
928:	learn: 23627.0942351	total: 1.06s	remaining: 80.8ms
929:	learn: 23619.9830451	total: 1.06s	remaining: 79.7ms
930:	learn: 23607.2731871	total: 1.06s	remaining: 78.5ms
931:	learn: 23599.0419020	total: 1.06s	remaining: 77.4ms
932:	learn: 23592.7660934	total: 1.06s	remaining: 76.2ms
933:	learn: 23591.5787488	total: 1.06s	remaining: 75.1ms
934:	learn: 23588.9322406	total: 1.06s	remaining: 73.9ms
935:	learn: 23584.9101159	total: 1.06s	remaining: 72.8ms
936:	learn: 23573.9284448	total: 1.06s	remaining: 71.7ms
937:	learn: 23573.0835001	total: 1.07s	remaining: 70.5ms
938:	learn: 23569.4504545	total: 1.07s	remaining: 69.4ms
939:	learn: 23568.3114494	total: 1.07s	remaining: 68.2ms
940:	learn: 23565.0954689	total: 1.07s	remaining: 67.1ms
941:	learn: 23562.5893007	total: 1.07s	remaining: 65.9ms
942:	learn: 23561.9037247	total: 1.07s	remaining: 64.8ms
943:	learn: 23554.7334945	total: 1.07s	remaining: 63.6ms
944:	learn: 23547.1420374	total: 1.07s	remaining: 62.5ms
945:	learn: 23544.7743563	total: 1.07s	remaining: 61.4ms
946:	learn: 23539.5615331	total: 1.07s	remaining: 60.2ms
947:	learn: 23533.0606715	total: 1.08s	remaining: 59.1ms
948:	learn: 23531.4207159	total: 1.08s	remaining: 57.9ms
949:	learn: 23528.5794054	total: 1.08s	remaining: 56.8ms
950:	learn: 23526.0353806	total: 1.08s	remaining: 55.6ms
951:	learn: 23525.0093812	total: 1.08s	remaining: 54.5ms
952:	learn: 23520.9502906	total: 1.08s	remaining: 53.4ms
953:	learn: 23513.6285082	total: 1.08s	remaining: 52.2ms
954:	learn: 23510.7400154	total: 1.08s	remaining: 51.1ms
955:	learn: 23502.7762758	total: 1.08s	remaining: 49.9ms
956:	learn: 23499.6606178	total: 1.09s	remaining: 48.8ms
957:	learn: 23491.7835578	total: 1.09s	remaining: 47.7ms
958:	learn: 23488.5037008	total: 1.09s	remaining: 46.5ms
959:	learn: 23483.2098971	total: 1.09s	remaining: 45.4ms
960:	learn: 23474.7983983	total: 1.09s	remaining: 44.2ms
961:	learn: 23471.4117792	total: 1.09s	remaining: 43.1ms
962:	learn: 23466.2384283	total: 1.09s	remaining: 42ms
963:	learn: 23461.8759302	total: 1.09s	remaining: 40.8ms
964:	learn: 23459.7717756	total: 1.09s	remaining: 39.7ms
965:	learn: 23457.5245369	total: 1.09s	remaining: 38.5ms
966:	learn: 23453.6313730	total: 1.1s	remaining: 37.4ms
967:	learn: 23443.6588389	total: 1.1s	remaining: 36.3ms
968:	learn: 23432.7005472	total: 1.1s	remaining: 35.1ms
969:	learn: 23430.5599479	total: 1.1s	remaining: 34ms
970:	learn: 23428.4307056	total: 1.1s	remaining: 32.9ms
971:	learn: 23422.3102656	total: 1.1s	remaining: 31.7ms
972:	learn: 23415.9209219	total: 1.1s	remaining: 30.6ms
973:	learn: 23408.0563511	total: 1.1s	remaining: 29.5ms
974:	learn: 23405.9660511	total: 1.1s	remaining: 28.3ms
975:	learn: 23404.4430005	total: 1.1s	remaining: 27.2ms
976:	learn: 23401.5844668	total: 1.11s	remaining: 26ms
977:	learn: 23392.3040884	total: 1.11s	remaining: 24.9ms
978:	learn: 23387.9553471	total: 1.11s	remaining: 23.8ms
979:	learn: 23384.6801001	total: 1.11s	remaining: 22.6ms
980:	learn: 23382.9695729	total: 1.11s	remaining: 21.5ms
981:	learn: 23379.6253020	total: 1.11s	remaining: 20.4ms
982:	learn: 23376.6024715	total: 1.11s	remaining: 19.2ms
983:	learn: 23373.2576881	total: 1.11s	remaining: 18.1ms
984:	learn: 23369.7587097	total: 1.11s	remaining: 17ms
985:	learn: 23367.1617641	total: 1.11s	remaining: 15.8ms
986:	learn: 23359.6259551	total: 1.11s	remaining: 14.7ms
987:	learn: 23357.7570369	total: 1.11s	remaining: 13.6ms
988:	learn: 23351.9467047	total: 1.12s	remaining: 12.4ms
989:	learn: 23341.4586769	total: 1.12s	remaining: 11.3ms
990:	learn: 23340.2061989	total: 1.12s	remaining: 10.2ms
991:	learn: 23335.4732899	total: 1.12s	remaining: 9.03ms
992:	learn: 23333.2505047	total: 1.12s	remaining: 7.9ms
993:	learn: 23331.3167838	total: 1.12s	remaining: 6.77ms
994:	learn: 23328.5818086	total: 1.12s	remaining: 5.64ms
995:	learn: 23324.8057728	total: 1.12s	remaining: 4.51ms
996:	learn: 23320.7647182	total: 1.12s	remaining: 3.38ms
997:	learn: 23318.7051423	total: 1.13s	remaining: 2.25ms
998:	learn: 23315.8312099	total: 1.13s	remaining: 1.13ms
999:	learn: 23311.3581327	total: 1.13s	remaining: 0us

LGBMRegressor()

In [24]:
#predicción
y_pred_logreg=logreg.predict(X_test)   
y_pred_linreg=linreg.predict(X_test) 
y_pred_lasso=lasso.predict(X_test)   
y_pred_ridge=ridge.predict(X_test)   
y_pred_elastic=elastic.predict(X_test)   
y_pred_svr=svr.predict(X_test)   
y_pred_rfr=rfr.predict(X_test)   
y_pred_etr=etr.predict(X_test)  
y_pred_gbr=gbr.predict(X_test) 
y_pred_xgbr=xgbr.predict(X_test) 
y_pred_ctr=ctr.predict(X_test) 
y_pred_lgbmr=lgbmr.predict(X_test)

In [25]:
print(mse(y_test, y_pred_logreg, squared=False)) 
print(mse(y_test, y_pred_linreg, squared=False)) 
print(mse(y_test, y_pred_lasso, squared=False)) 
print(mse(y_test, y_pred_ridge, squared=False)) 
print(mse(y_test, y_pred_elastic, squared=False)) 
print(mse(y_test, y_pred_svr, squared=False)) 
print(mse(y_test, y_pred_rfr, squared=False)) 
print(mse(y_test, y_pred_etr, squared=False)) 
print(mse(y_test, y_pred_gbr, squared=False)) 
print(mse(y_test, y_pred_xgbr, squared=False)) 
print(mse(y_test, y_pred_ctr, squared=False)) 
print(mse(y_test, y_pred_lgbmr, squared=False))

75611.90880077027
49755.48866564582
49754.34614750091
49702.610145085826
52799.51630202167
63978.48118076341
50788.36592588988
73894.96334980919
57370.910850664
61967.8106217707
50736.32749615092
46191.31416387421

In [26]:
test=pd.read_csv('../data/testeo.csv')
test.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,employee_residence,remote_ratio,company_location,company_size
0,2020,SE,FT,Machine Learning Scientist,260000,USD,JP,0,JP,S
1,2020,MI,FT,Lead Data Analyst,87000,USD,US,100,US,L
2,2020,MI,FT,Data Analyst,85000,USD,US,100,US,L
3,2020,MI,FT,Machine Learning Engineer,299000,CNY,CN,0,CN,M
4,2020,MI,FT,Product Data Analyst,450000,INR,IN,100,IN,L

In [27]:
test.drop('salary', axis=1, inplace=True)

In [28]:
test.head()

,work_year,experience_level,employment_type,job_title,salary_currency,employee_residence,remote_ratio,company_location,company_size
0,2020,SE,FT,Machine Learning Scientist,USD,JP,0,JP,S
1,2020,MI,FT,Lead Data Analyst,USD,US,100,US,L
2,2020,MI,FT,Data Analyst,USD,US,100,US,L
3,2020,MI,FT,Machine Learning Engineer,CNY,CN,0,CN,M
4,2020,MI,FT,Product Data Analyst,INR,IN,100,IN,L

In [29]:
test=pd.get_dummies(test, columns=['experience_level'], drop_first=True)

test.employment_type=LabelEncoder().fit_transform(test.employment_type)

test.job_title=LabelEncoder().fit_transform(test.job_title)

test.salary_currency=LabelEncoder().fit_transform(test.salary_currency)

residence = []
for i in test.employee_residence:
    if i not in ['US', 'GB', 'CA', 'DE', 'IN', 'FR', 'ES', 'GR']:
        residence.append('OTHER_COUNTRY')
    else:
        residence.append(i)
test.employee_residence=residence

test.employee_residence=LabelEncoder().fit_transform(test.employee_residence)

countries = []
for i in test.company_location:
    if i not in ['US', 'GB', 'CA', 'DE', 'IN', 'FR', 'ES', 'GR']:
        countries.append('OTHER_COUNTRY')
    else:
        countries.append(i)
test.company_location=countries

test.company_location=LabelEncoder().fit_transform(test.company_location)

test=pd.get_dummies(test, columns=['company_size'], drop_first=True)

test=pd.get_dummies(test, columns=['work_year'], drop_first=True)

test=pd.get_dummies(test, columns=['remote_ratio'])
test.head()

,employment_type,job_title,salary_currency,employee_residence,company_location,experience_level_EX,experience_level_MI,experience_level_SE,company_size_M,company_size_S,work_year_2021,work_year_2022,remote_ratio_0,remote_ratio_50,remote_ratio_100
0,1,22,11,7,7,0,0,1,0,1,0,0,1,0,0
1,1,18,11,8,8,0,1,0,0,0,0,0,0,0,1
2,1,8,11,8,8,0,1,0,0,0,0,0,0,0,1
3,1,20,2,7,7,0,1,0,1,0,0,0,1,0,0
4,1,27,7,6,6,0,1,0,0,0,0,0,0,0,1

In [30]:
X.head()

,employment_type,job_title,salary_currency,employee_residence,company_location,work_year_2021,work_year_2022,experience_level_EX,experience_level_MI,experience_level_SE,remote_ratio_0,remote_ratio_50,remote_ratio_100,company_size_M,company_size_S
0,2,17,14,8,8,0,1,0,0,1,0,0,1,1,0
1,2,17,14,8,8,0,1,0,0,1,0,0,1,1,0
2,2,5,14,8,8,1,0,0,1,0,0,0,1,1,0
3,0,36,14,8,8,1,0,0,1,0,0,0,1,0,0
4,2,17,5,7,8,1,0,0,1,0,1,0,0,0,0

In [31]:
y_pred_lgbmr=lgbmr.predict(test)   

y_pred_lgbmr[:10]

array([ 67657.26665788, 125514.02436133, 128379.50860529,  87746.80136925,
        62512.17060343,  76757.20873674,  31676.97561868,  70454.26555874,
       120409.45367712,  73737.30324539])

In [32]:
len(y_pred_lgbmr)

107

In [33]:
res=pd.read_csv('../data/muestra.csv')

In [34]:
res.head()

   id  salary_in_usd
0   0          70377
1   1          85839
2   2          63613
3   3          88561
4   4          37621

In [35]:
res.salary_in_usd=y_pred_lgbmr

In [36]:
res.head()

   id  salary_in_usd
0   0   67657.266658
1   1  125514.024361
2   2  128379.508605
3   3   87746.801369
4   4   62512.170603

In [37]:
res.to_csv('resultado1.csv',index=False)